* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
@@@@@
-----------COMMON-----
@@@@@
*/

/* 
@@@@@
-----------HEADER INIZIO-----
@@@@@
*/

/* 
@@@@@
-----------HEADER FINE-----
@@@@@
*/

/* 
@@@@@
-----------MAIN INIZIO-----
@@@@@
*/

/* 
@@@@@
-----------MAIN FINE-----
@@@@@
*/

/* 
@@@@@
-----------FOOTER INIZIO-----
@@@@@
*/

/* 
@@@@@
-----------FOOTER FINE-----
@@@@@
*/