* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: blanchedalmond;
}
/* 
@@@@@
-----------COMMON-----
@@@@@
*/
header, .col-sx ul, .col-dx ul, .row
 {
    display: flex;
}

ul {
    list-style: none;
}

.btn {
    padding: 5px 10px;
    border: none;
    font-family: inherit;
    width: fit-content;
}

.blu-btn {
    background-color: #0061ff;
}

.row {
    width: 100%;
}


/* 
@@@@@
-----------HEADER INIZIO-----
@@@@@
*/
header {
    height: 80px;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: white;
}

header ul {
    align-items: center;
    gap: 40px;
}
/* 
@@@@@
-----------HEADER FINE-----
@@@@@
*/

/* 
@@@@@
-----------MAIN INIZIO-----
@@@@@
*/
main {
    max-width: 100vw;
    padding-top: 100px;
}

.jumbo {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    background-color: #b4d0e7;
}

.jumbo .col-img {
   max-width: 70%;
}

.jumbo .col-sx {
    max-width: 20%;
    text-align: left;
}
img {
    max-width: 100%;
}

h1 {
    font-size: 50px;
    letter-spacing: 10px;
    text-align: left;
}

.jumbo .row {
    position: relative;
    top: 70px;
}

.jumbo .col-sx {
    display: flex;
    flex-direction: column;
    justify-content:;
    gap: 40px 0;
}

.freccia {
    font-size: 40px;
    padding-top: 10px;
}
/* ----seconda sezione */


/* 
@@@@@
-----------MAIN FINE-----
@@@@@
*/

/* 
@@@@@
-----------FOOTER INIZIO-----
@@@@@
*/

/* 
@@@@@
-----------FOOTER FINE-----
@@@@@
*/